<header id="nav-bar">
	<h1><a href="{{ site.baseurl }}">WP REST API</a></h1>
	<nav>
		<ul>
			<li><a href="https://developer.wordpress.org/rest-api/">REST API Handbook</a></li>
			<li><a href="https://developer.wordpress.org/rest-api/reference/">Reference</a></li>
			<li><a href="https://github.com/WordPress/wordpress-develop/tree/master/src/wp-includes/rest-api">Source Code</a></li>
			<li><a href="https://wordpress.org/support/topic-tag/rest-api">Support</a></li>
			<li><a class="button download" href="https://wordpress.org/download/">Download WordPress</a></li>
		</ul>
	</nav>
</header>
