<div class="header">
	<div class="left">

		<h1><a href="{{ site.baseurl }}">WP REST API v2 Documentation</a></h1>
		<ul>
			<li><a href="{{ site.baseurl }}">Home</a></li>
			<li><a href="{{ site.baseurl }}changes-beta-1.html">What Changed</a></li>
			<li><a href="https://github.com/WP-API/WP-API">WP REST API v2 Source</a></li>
<!--       <li><a href="{{ site.baseurl }}guides.html">Guides</a></li>
			<li><a href="{{ site.baseurl }}internals.html">Internals</a></li>
			<li><a href="{{ site.baseurl }}resources.html">Resources</a></li>
			<li><a href="{{ site.baseurl }}misc.html">Misc</a></li> -->
		</ul>
	</div>
	<div class="right">
		<!-- GitHub buttons: see http://ghbtns.com -->
		<iframe src="http://ghbtns.com/github-btn.html?user=WP-API&amp;repo=WP-API&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
	</div>
</div>