// Colors
$fg-primary: #333;
$bg-primary: #fff;
$fg-secondary: #eee;
$bg-secondary: #333;
$fg-header: #fff;
$bg-header: #2B3D50;
$fg-superbar: rgba( $fg-primary, 0.7 );
$bg-superbar: rgba( $bg-secondary, 0.08 );

// Text
$header-text-size: 14px;
$sidebar-text-size: 12px;

$base-line-height: 1.6;
$sidebar-line-height: 1.2rem;

$body-font-family: 'Istok Web', sans-serif;
$header-font-family: 'Lora', serif;

$font-family-monospace: "Monaco", Consolas, "Liberation Mono", Courier, monospace;

// Layout
$content-column-width: 7;
$superbar-column-width: 3;
$sidebar-column-width: 2;

// Configure Foundation
// We turn everything default off, then turn back on as needed
$include-html-classes: false;
$include-html-button-classes: true;
$include-html-global-classes: true;
$include-html-table-classes: true;

// Foundation colors
$body-bg: $bg-primary;
$body-font-color: $fg-primary;
