---
---

@import "config";
@import "foundation";
@import "highlight";

header {
	font-size: $header-text-size;

	color: $fg-header;
	background: $bg-header;

	padding: 20px 40px;

	@include clearfix;

	h1 {
		font-size: 1.2em;
		font-weight: normal;
		line-height: inherit;
		float: left;
		margin: 0;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	nav {
		float: right;

		ul {
			@include inline-list;
			margin: 0;
			overflow: visible;
		}
	}

	.download {
		margin: {
			top: -$button-tny;
			bottom: -$button-tny;
		}

		@include button-size($padding:$button-tny);
	}
}

#sidebar {
	@include grid-column($columns: $sidebar-column-width);
	height: 100%;

	color: $fg-secondary;
	background: $bg-secondary;

	font-size: $sidebar-text-size;
	line-height: $sidebar-line-height;
	border-right: 1px solid rgba(0,0,0,.15);

	overflow: scroll;

	&.sticky {
		position: fixed;
		top: 0;
	}

	h3 {
		color: inherit;
		font-size: 1.25em;
		font-weight: normal;
		margin: {
			top: 1.2em;
			bottom: 0.5em;
		}

		a {
			color: inherit;

			&:after {
				content: " \002192";
			}
		}
	}

	nav ul {
		list-style: none;
		margin: {
			top: 0;
			left: 0;
			right: 0;
		}
		padding: {
			left: 0;
			right: 0;
		}
	}

	nav li {
		margin-bottom: 0.5em;
		font-size: 13px;
		&.active {
			a {
				font-weight: bold;
			}
		}
	}

	a {
		color: rgba($fg-secondary, 0.7);
		text-decoration: none;
	}
}

#content {
	float: left;
	position: relative;

	color: $fg-primary;
	background: $bg-primary;
}

.no-superbar {
	$content-column-offset: floor( ( $superbar-column-width / 2 ) * ( $main-column-width / 12 ) );
	#content {
		@include grid-column($columns: $content-column-width);
		@include grid-column($push: $content-column-offset );
	}

	&.has-sticky #content {
		@include grid-column($push: $sidebar-column-width + $content-column-offset);
	}
}

.has-superbar {
	#content {
		@include grid-column($columns: $main-column-width, $collapse: true);
	}

	&.has-sticky #content {
		@include grid-column($push: $sidebar-column-width, $collapse: true);
	}
}

#superbar {
	@include grid-column($columns: $superbar-column-width);
	height: 100%;

	float: right;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
}

code, pre {
	background: rgba(0,0,0,0.04);
}

code {
	font-family: $code-font-family;
	font-size: 0.8em;
	padding: 2px 0.4em;
}

pre {
	max-width: 100%;
	overflow: auto;
	padding: 1.8em 1em;

	code {
		background: transparent;
		padding: 0;
	}
}

.secondary {
	@import "highlight-monokai";
}

.secondary pre {
	background: rgba($fg-superbar, 0.04);
	tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
}

.secondary code {
	background: rgba(0,0,0,.18);
	display: inline-block;
	word-wrap: break-word;
	color: #bbb;
}

.secondary pre code {
	background: transparent;
}

.note {
	border-left: 4px solid orange;
	background: rgba(orange, 0.1);

	padding: 0.1em 1em;

	&.warning {
		border-left-color: red;
		background: rgba(red, 0.1);
	}
}

// Home
.hero {
	text-align: center;
	margin-top: 20px;

	.subtitle {
		font-size: 1.8rem;
	}

	.download {
		font-size: 1.6rem;
		text-decoration: none;

		span {
			display: block;
			font-size: 0.8rem;
		}
	}

	.status {
		a {
			text-decoration: none;
		}
	}
}

// Reference Pages
#content .background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.primary, .secondary {
		height: 100%;
	}
}

.has-superbar {
	.primary {
		@include grid-column($columns: $content-column-width);
	}

	.secondary {
		@include grid-column($columns: $superbar-column-width, $last-column: true);

		color: $fg-superbar;
		background: $bg-superbar;

		box-shadow: inset 5px 0 10px rgba(0,0,0,.1);
	}
}

.route {
	@include grid-row($behavior: nest-collapse);
	position: relative;
	margin-bottom: 1rem;
}

table.arguments, table.attributes {
	width: 100%;
	border: none;
	border-collapse: collapse;

	p {
		margin: .5rem 0;
	}

	td {
		border: none;
		border-bottom: 1px solid #e0e0e0;
	}

	tr:last-of-type td {
		border-bottom: none;
	}

	td:first-child {
		width: 33%;

		.type {
			color: #666;
			font-size: 13px;
		}

		code {
			font-size: 14px;
		}
	}

	td > *:first-child {
		margin-top: 0;
	}

	td > *:last-child {
		margin-bottom: 0;
	}

	.read-only {
		color: #aaa;
		font-size: 13px;
		margin-top: 0;
		border: 1px solid #ddd;
		display: inline-block;
		padding: 0.2em 0.3em;
		border-radius: 6px;
	}

	code a {
		text-decoration: none;
	}
}

.link-icon {
	&:before {
		content: "#";
	}
}

h1, h2, h3, h4, h5, h6 {
	.header-link {
		padding-left: 5px;
		color: $header-font-color;
		text-decoration: none;
		display: none;
	}

	&:hover {
		.header-link {
			display: inline-block;
		}
	}
}
