---
---

@import "config";
@import "foundation";
@import "highlight";

header {
	font-size: $header-text-size;

	color: $fg-header;
	background: $bg-header;

	padding: 20px 40px;

	@include clearfix;

	h1 {
		font-size: 1.2em;
		font-weight: normal;
		line-height: inherit;
		float: left;
		margin: 0;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	nav {
		float: right;

		ul {
			@include inline-list;
			margin: 0;
			overflow: visible;
		}
	}

	.download {
		margin: {
			top: -$button-tny;
			bottom: -$button-tny;
		}

		@include button-size($padding:$button-tny);
	}
}

#sidebar {
	@include grid-column($columns: $sidebar-column-width);
	height: 100%;

	color: $fg-secondary;
	background: $bg-secondary;

	font-size: $sidebar-text-size;
	line-height: $sidebar-line-height;

	overflow: scroll;

	&.sticky {
		position: fixed;
		top: 0;
	}

	h3 {
		color: inherit;
		font-size: 1.25em;
		font-weight: normal;
		margin: {
			top: 1.2em;
			bottom: 0.5em;
		}
	}

	nav ul {
		list-style: none;
		margin: {
			top: 0;
			left: 0;
			right: 0;
		}
		padding: {
			left: 0;
			right: 0;
		}
	}

	nav li {
		margin-bottom: 0.5em;
	}

	a {
		color: rgba($fg-secondary, 0.7);
		text-decoration: none;
	}
}

#content {
	float: left;
	position: relative;

	color: $fg-primary;
	background: $bg-primary;
}

.no-superbar {
	$content-column-offset: floor( ( $superbar-column-width / 2 ) * ( $main-column-width / 12 ) );
	#content {
		@include grid-column($columns: $content-column-width);
		@include grid-column($push: $content-column-offset );
	}

	&.has-sticky #content {
		@include grid-column($push: $sidebar-column-width + $content-column-offset);
	}
}

.has-superbar {
	#content {
		@include grid-column($columns: $main-column-width, $collapse: true);
	}

	&.has-sticky #content {
		@include grid-column($push: $sidebar-column-width, $collapse: true);
	}
}

#superbar {
	@include grid-column($columns: $superbar-column-width);
	height: 100%;

	float: right;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
}

code {
	font-family: $code-font-family;
	font-size: 0.8em;
}

pre {
	max-width: 100%;
	overflow: auto;
	background: rgba(0,0,0,0.04);
	padding: 1.8em 1em;
}

.secondary pre {
	background: rgba($fg-superbar, 0.04);
}

// Home
.hero {
	text-align: center;
	margin-top: 20px;

	.subtitle {
		font-size: 1.8rem;
	}

	.download {
		font-size: 1.6rem;
		text-decoration: none;

		span {
			display: block;
			font-size: 0.8rem;
		}
	}

	.status {
		a {
			text-decoration: none;
		}
	}
}

// Reference Pages
#content .background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.primary, .secondary {
		height: 100%;
	}
}

.has-superbar {
	.primary {
		@include grid-column($columns: $content-column-width);
	}

	.secondary {
		@include grid-column($columns: $superbar-column-width, $last-column: true);

		color: $fg-superbar;
		background: $bg-superbar;
	}
}

.route {
	@include grid-row($behavior: nest-collapse);
	position: relative;
}
