---
---

@import "config";
@import "foundation";
@import "highlight";

header {
	font-size: $header-text-size;

	color: $fg-header;
	background: $bg-header;

	padding: 20px 40px;

	@include clearfix;

	h1 {
		font-size: 1.2em;
		font-weight: normal;
		line-height: inherit;
		float: left;
		margin: 0;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	nav {
		float: right;

		ul {
			@include inline-list;
			margin: 0;
			overflow: visible;
		}
	}

	.download {
		margin-bottom: 0;
		margin-top: -$button-tny;
	}
}

#sidebar {
	@include grid-column($columns: $sidebar-column-width);
	height: 100%;

	color: $fg-secondary;
	background: $bg-secondary;

	font-size: $sidebar-text-size;
	line-height: $sidebar-line-height;

	overflow: scroll;

	&.sticky {
		position: fixed;
		top: 0;
	}

	h3 {
		color: inherit;
		font-size: 1.25em;
		font-weight: normal;
		margin: {
			top: 1.2em;
			bottom: 0.5em;
		}
	}

	nav ul {
		list-style: none;
		margin: {
			top: 0;
			left: 0;
			right: 0;
		}
		padding: {
			left: 0;
			right: 0;
		}
	}

	nav li {
		margin-bottom: 0.5em;
	}

	a {
		color: rgba($fg-secondary, 0.6);
		text-decoration: none;
	}
}

#content {
	@include grid-column($columns: $content-column-width);

	float: left;

	color: $fg-primary;
	background: $bg-primary;
}

.has-sticky #content {
	@include grid-column($push: $sidebar-column-width);
}

.no-superbar #content {
	@include grid-column($push: floor( $superbar-column-width / 2 ));
}

.no-superbar.has-sticky #content {
	@include grid-column($push: $sidebar-column-width + floor( $superbar-column-width / 2 ));
}

#superbar {
	@include grid-column($columns: $superbar-column-width);
	height: 100%;

	float: right;

	color: $fg-superbar;
	background: $bg-superbar;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
}

code {
	font-family: $code-font-family;
	font-size: 0.8em;
}

// Home
.hero {
	text-align: center;
	margin-top: 20px;

	.subtitle {
		font-size: 1.8rem;
	}

	.download {
		font-size: 1.6rem;
		text-decoration: none;

		span {
			display: block;
			font-size: 0.8rem;
		}
	}

	.status {
		a {
			text-decoration: none;
		}
	}
}
