## {{ name }}

### Schema

| Property | Type | Description | Context |
| :------- | :--- | :---------- | :------ |
{{#schema_properties}}
| `{{ name }}` | {{ type }} | {{ description }} | {{ context }} |
{{/schema_properties}}

### List All {{ name }}

### Create A {{ name }}

### Retrieve A {{ name }}

### Update A {{ name }}

### Delete A {{ name }}
