## {{ plural_name }}

### Schema

| Property | Type | Description | Context |
| :------- | :--- | :---------- | :------ |
{{#schema_properties}}
| `{{ name }}` | {{ type }} | {{ description }} | {{ context }} |
{{/schema_properties}}

### List all {{ plural_name }}

### Create a {{ singular_name }}

### Retrieve a {{ singular_name }}

### Update a {{ singular_name }}

### Delete a {{ singular_name }}
