<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width" />

		<title>{% if page.include_title %}{{ page.title }} | {% endif %}{{site.title}}</title>

		<link rel="stylesheet" href="{{ site.baseurl }}assets/styles/style.css" />

		<!-- Meta -->
		<meta content="{{site.title}}" property="og:title" />
		<meta content="{{site.description}}" name="description" />
	</head>
	<body class="{% if page.has_superbar %}has-superbar{% else %}no-superbar{% endif %}">
		{% include header.html %}

		<section id="sidebar">
			{% include sidebar.html %}
		</section>

		<section id="content">
			{% if page.has_superbar %}
				<div class="background"><div class="primary"></div><div class="secondary"></div></div>
			{% else %}
				{% if page.include_title %}
					<h1>{{ page.title }} <small style="float:right;"><a href="https://github.com/WP-API/docs-v2/edit/gh-pages/{{page.path}}">Edit Page</a></small></h1>
				{% endif %}
			{% endif %}

			{{ content }}
		</section>

		<script src="{{ site.baseurl }}assets/scripts/stick.js" async></script>
		<script type="text/javascript">
			WebFontConfig = {
				google: { families: [ 'Lora:400,400italic:latin', 'Istok+Web:400,400italic,700,700italic:latin' ] }
			};
			(function() {
				var wf = document.createElement('script');
				wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
					'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
				wf.type = 'text/javascript';
				wf.async = 'true';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wf, s);
			})();
		</script>

		{% include anchor_links.html %}
	</body>
</html>
