<!doctype html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body class="{% if page.has_superbar %}has-superbar{% else %}no-superbar{% endif %}">
		{% include header.html %}

		<section id="sidebar">
			{% assign navigation = site.data.navigation %}
			{% include sidebar.html %}
		</section>

		<section id="content">
			{% if page.has_superbar %}
				<div class="background"><div class="primary"></div><div class="secondary"></div></div>
			{% else %}
				{% if page.include_title %}
					<h1>{{ page.title }} <small style="float:right;"><a href="https://github.com/WP-API/docs-v2/edit/gh-pages/{{page.path}}">Edit Page</a></small></h1>
				{% endif %}
			{% endif %}

			{{ content }}
		</section>

		{% include footer.html %}
	</body>
</html>
